/* remove all borders of input   */
.input {
  border: none;
  width: 100%;
  flex: 1;
}

.input:focus,
.input:active {
  outline: none;
}

/*style it like a good material ui input*/
.inputContainer {
  border: 1px solid #ccc;
  padding: 5px 10px;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

.focused {
  border-color: #999;
}
